<html>
  <head>
    <meta charset="utf-8">
    <title>Gamer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  </head>
<!-- Body///////////////////////////////////////////////////////////////////////////   -->
  <body>
    <div class="main-container">
<!-- Navbar///////////////////////////////////////////////////////////////////////////// -->
        <div class="topnav" id="myTopnav">
          <a class="nav-logo-image" href="/"><img  class="gamerLogo2" src="images/gamerLogo3.png" alt="Gamer Logo"></a>
          <a href="/signup">Sign Up</a>
          <a href="/login">Login</a>
          <a href="/profile">Profile</a>
          <a href="">About</a>
          <input type="text" name="search" placeholder="Search.."></input>
          <form action="/logout" method="POST">
            <button class="btn btn-link btn-logout" type="submit">Logout</a>
          </form>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
<!-- Navbar///////////////////////////////////////////////////////////////////////////// -->

      <%- body -%>
      <div class="footer-container">
      </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
