    <div class="container-fluid">
      <div class="row profile-container">
        <div class="col-sm-4 colum">
          <form action="/profile/edit" method="post">
            <div class="row">
              <h3 class="light-text"><%=req.user.username %></h3>
            </div>
            <div class="row">
              <img class="profilePic" src="/images/person-placeholder.jpg" alt="Profile Image">
            </div>
            <div class="row">
              <input id="firstName"type="text" name="firstName" value="<%=req.user.firstName%>"></input>
              <input id="lastName"type="text" name="lastName" value="<%=req.user.lastName%>"></input>
            <div class="row">
              <input id=aboutMeEditButton type=submit value="Update"></input>
            </div>
          </form>
          </div>
        </div>
        <!-- <div class="col-sm-3 colum">
          <p>Consoles</p>
        </div> -->
        <div class="col-sm-8 colum1">
          <p>Games</p>
        </div>
      </div>
    </div>
